<form [formGroup]="editWorkerForm!" class="form">
  <div class='form-inputs'>
    <label> <span class="form-input-title">First name</span> <input formControlName="firstName" name="firstName"
                                                                    type="text">
      <span
        *ngIf="editWorkerForm?.get('firstName')?.touched && editWorkerForm!.get('firstName')?.hasError('required')"
        class='error'>First name field is required</span>
      <span *ngIf="editWorkerForm?.get('firstName')?.touched &&
        editWorkerForm!.get('firstName')?.hasError('maxlength')" class='error'>Max length is 15 characters</span>
      <span *ngIf="editWorkerForm?.get('firstName')?.touched &&
        editWorkerForm!.get('firstName')?.hasError('pattern')" class='error'>You can only use letters</span>
      <span *ngIf="editWorkerForm?.get('firstName')?.touched &&
        editWorkerForm?.get('firstName')?.hasError('notUpperCase')"
            class='error'>Capitalize first letter</span>
    </label>

    <label> <span class="form-input-title">Last name</span><input formControlName="lastName" name="lastName"
                                                                  type="text">
      <span
        *ngIf="editWorkerForm?.get('lastName')?.touched && editWorkerForm!.get('lastName')?.hasError('required')"
        class='error'>Last name field is required</span>
      <span *ngIf="editWorkerForm?.get('lastName')?.touched &&
       editWorkerForm?.get('lastName')?.hasError('maxlength')" class='error'>Max length is 15 characters</span>
      <span *ngIf="editWorkerForm?.get('lastName')?.touched &&
        editWorkerForm?.get('lastName')?.hasError('pattern')" class='error'>You can only use letters</span>
      <span *ngIf="editWorkerForm?.get('lastName')?.touched &&
        editWorkerForm?.get('lastName')?.hasError('notUpperCase')"
            class='error'>Capitalize first letter</span>
    </label>

    <label><span class="form-input-title">Age</span><input formControlName="age"
                                                           name="age" type="number">
      <span *ngIf="editWorkerForm?.get('age')?.touched && editWorkerForm!.get('age')?.hasError('required')"
            class='error'>Age field is required</span>
      <span *ngIf="editWorkerForm?.get('age')?.touched && (editWorkerForm!.get('age')?.hasError('min') ||
       editWorkerForm!.get('age')?.hasError('max'))"
            class='error'>The range is 1-100</span>

    </label>
  </div>
  <div class="buttons">
    <button [disabled]="!editWorkerForm!.valid" [mat-dialog-close]="editWorkerForm!.value" class="button"
            type="submit">Save
    </button>
    <button (click)="onNoClick()" class="button">Cancel</button>
  </div>
</form>
