<div class="wrapper">

  <div class="input-container">
    <input [(ngModel)]="searchValue" class="search-input" placeholder="Search for a person..." type="text">
  </div>

  <button (click)="onOpenDialog()" class="new-worker-button">Add new worker</button>

  <div class="table-container">
    <table class="table">
      <thead>
      <tr>
        <th>{{numberColumn}}</th>
        <th>{{firstNameColumn}}</th>
        <th>{{lastNameColumn}}</th>
        <th>{{ageColumn}}
          <button (click)="onSortByMaxAge()" class="button-sort">max</button>
          <button (click)="onSortByMinAge()" class="button-sort">min</button>
        </th>
        <th>{{actionsColumn}}</th>
      </tr>
      </thead>
      <tbody (click)="onTableClick($event)">
      <tr *ngFor="let worker of (onFilterWorkers(workers || [])); let i=index">
        <td>{{i + 1}}</td>
        <td>{{worker.name.first}}</td>
        <td>{{worker.name.last}}</td>
        <td>{{worker.age}}</td>
        <td>
          <button attr.data-row="{{i}}" class="action-button" data-action="delete">Delete</button>
          <button attr.data-row="{{i}}" class="action-button" data-action="edit">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>







